@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@font-face {
  font-family: 'Pokemon';
  src: url('./Pokemon_GB.ttf');
}

* {
  box-sizing: border-box;
}

main {
  /* background: rgb(255,207,144);
  background: linear-gradient(90deg, rgba(255,207,144,1) 0%, rgba(233,219,181,1) 50%, rgba(255,209,145,1) 100%); */
  font-family: 'Pokemon';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
